<!DOCTYPE html>
<html>
  <head>
    <title>session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <main>
      
      <% if (locals.user) { %>
        <style>
          body{
            background-color: <%= locals.user.color%>;
          }
        </style>
        <h1><%= locals.user.name %>, gracias por visitarnos! </h1>
        <a href="/">Volver</a>
        <div class="containerOlvidar">
        <form action="" method="post" class="olvidar">
          <button type="submit">Olvidar el color</button>
        </form>
      </div>
     <% } %> 
    </main>
  </body>
</html>
